certifi==2026.6.17
charset-normalizer==3.4.7
idna==3.18
pillow==12.2.0
pyserial==3.5
python-dotenv==1.2.2
requests==2.34.2
RPi.GPIO==0.7.1
spidev==3.8
urllib3==2.7.0
google==3.0.0
google-api-core==2.31.0
google-api-python-client==2.198.0
google-auth==2.55.1
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
googleapis-common-protos==1.75.0
proto-plus==1.28.0
protobuf==7.35.1
oauthlib==3.3.1
requests-oauthlib==2.0.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
httplib2==0.32.0
cryptography==49.0.0
